<div class="row mt-4">
  <div class="col-3 d-flex align-items-stretch">
    <%= render(Matey::ActiveUsersComponent.new(events: Ahoy::Event.all)) %>
  </div>
  <div class="col-3 d-flex align-items-stretch">
    <%= render(Matey::NewUsersComponent.new(users: User.all)) %>
  </div>
</div>

