<div class="card widget-flat shadow-sm">
  <div class="card-body">
    <div id="first col" class="col">
      <div id="top half col" class="row">
        <div class="col m-2">
          <h1 class="card-title"><%= @current_period.to_s %></h5>
        </div>
        <div class="col">
          <p class="card-text"><%= (@change_active_number > 0 ? "+" : "") + @change_active_number.to_s + " / " + @change_active_percent.to_s + "%" %></p>
        </div>
      </div>
      <div class="col">
        <h5 class="card-text my-2"><strong> Active Users </strong> since <%= time_ago_in_words(@time_window.ago) %> ago</h6>
      </div>
    </div>
  </div>
</div>