<div class="card bg-primary text-light">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h1>
        Bounced Visits:
        <%= @total_number_of_single_event_visits %>
        </h1>
        <h1>
        Total Visits:
        <%= @total_number_of_user_visits %>
        </h1>
      </div>
    </div>
</div>
