<div class="card bg-primary text-light">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h1>
        Users:
        <%= @number_users %>
        </h1>
        <h1>
        Visits:
        <%= @total_number_of_user_visits %>
        </h1>
      </div>
    </div>
</div>
