<div class="card bg-primary text-light">
  <div class="card-body">
    <div class="col">
      <div class="col">
        <h5>Browser and OS breakdown</h5>
      </div>
      <div class="col-auto">
        <p>Since <%= time_ago_in_words(@time_window.ago).titleize %> ago</p>
        <p><%= @browsers %></p>
        <p><%= @oss %></p>
      </div>
    </div>
  </div>
</div>
