<div class="card bg-light text-dark border-dark">
  <div class="card-body">
    <div class="col">
      <div class="col">
        <h5>Daily Active Users</h5>
      </div>
      <div class="col-auto">
        <p>Since <%= time_ago_in_words(@time_window.ago).titleize %> Ago</p>
        <p><%= @distinct_user_visits_by_day %></p>
        <p><%= @distinct_user_visits_by_day2 %></p>
        <%= @visits.each {|e| e} %>
      </div>
    </div>
  </div>
</div>