<div class="card bg-primary text-light">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h1>Hello World</h1>
      </div>
      <div class="col-auto">
        <p class="card-text text-end mb-0">
          test
        </p>
      </div><!-- .col -->
    </div><!-- .row -->
    <h4 class="card-text my-2"><strong> Least Visited Pages </strong> since time</h4>
  </div><!-- .card-body -->
</div><!-- .card -->
