<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h1><%= @current_period %></h1>
      </div>
      <div class="col-auto">
        <p class="card-text text-end mb-0">
          <%= (@change_new_number > 0 ? "+" : "") + @change_new_number.to_s + " / " + @change_new_percent.to_s + "%" %>
        </p>
      </div><!-- .col -->
    </div><!-- .row -->
    <h5 class="card-text my-2"><strong> New Users </strong> since <%= time_ago_in_words(@time_window.ago).titleize %> ago</h5>
  </div><!-- .card-body -->
</div><!-- .card -->
