<div class="card h-100">
  <div class="card-header">
    <h3 class="card-title">
      Top Events
    </h3>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Event</th>
          <th class="text-end">#</th>
        </tr>
        <% @events.each do |action, count| %>
          <tr>
            <td><%= action %></td>
            <td class="text-end"><%= count %></td>
          </tr>
        <% end %>
      </table>
      <small class="fst-italic">since <%= time_ago_in_words(@time_window.ago) %> ago</small>
    </div>
  </div><!-- .card-body -->
</div><!-- .card -->
