<div class="card w-50 h-25">
  <div class="card-body">
    <h1 class="card-title">
      Top 10 Page Visits In the Last Week
    </h1>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Path/Page</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <% @user_count_by_event.each do |controller_name_and_action, count| %>
            <tr>
              <td><%= controller_name_and_action.join("#") %></td>
              <td><%= count %></td>
            </tr>
          <% end %>
          <tr>
            <td><strong>Total:</strong></td>
            <td><%=  @user_count_by_event.sum {|controller_name_and_action, count| count} %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div><!-- .card-body -->
</div><!-- .card -->
